<div class="row">
  <div class="col-xs-12">
    <h3 style="height: 75%;">{{ CurrentDeliveryRoute.Name }}
      <span style="padding-bottom: .6em" class="btn-group pull-right mid" gimsDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer" (click)="onNewDeliveryRoute()">New Route</a></li>
          <li><a style="cursor: pointer" (click)="onEditDeliveryRoute()">Edit Route</a></li>
          <li><a style="cursor: pointer">Delete Route</a></li>
        </ul>
      </span>
    </h3>
  </div>
</div>

<div class="row" style="height: 75%;">
  <div class="col-xs-12">
    <gims-routebook-day-picker (DayOfWeekSelected)="onDayOfWeekSelected($event)"></gims-routebook-day-picker>
  </div>
</div>

<div class="row">

  <div class="col-xs-3">
    <gims-routebook-delivery-route-stops-list [deliveryRouteStops]="RouteStopsFilteredByDayOfWeek">
    </gims-routebook-delivery-route-stops-list>
  </div>

  <div *ngIf="RouteStopsFilteredByDayOfWeek.length > 0" class="col-xs-9">
    <router-outlet></router-outlet>
  </div>

</div>
